body{
    height: 100vh;
}

.round{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    left: calc(40vw);
    top: calc(40vh);
}

.central {
    align-items: center;
}

.myH {
font-family: Arial, Helvetica, sans-serif;
}

.contain {
    width: calc(80vw + 100px);
    height: calc(80vh + 100px);
    border: 2px solid black
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
